//
//  DebugDevelopment.xcconfig
//  StaqWalletDemo
//
//  Created by Dmytro Lunov on 29.04.2025.
//

#include "Base.xcconfig"

SWIFT_OPTIMIZATION_LEVEL = -Onone
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_NS_ASSERTIONS = YES
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
OTHER_SWIFT_FLAGS = $(inherited) -DDEVELOPMENT
