//
//  DebugProduction.xcconfig
//  StaqWalletDemo
//
//  Created by Dmytro Lunov on 29.04.2025.
//

#include "Base.xcconfig"

SWIFT_OPTIMIZATION_LEVEL = -Osize
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
OTHER_SWIFT_FLAGS = $(inherited) -DPRODUCTION
